<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Get Users</title>
</head>
<body>
<div class="container">
    <br>
      <form action="#" th:action="@{/users/}" method="post">
          <div class="col-md-4 form-group">
              <label for="limit">Number of User to Display</label>
              <input type="number" class="form-control" id="limit"  name="limit">
              <br>
              <input type="submit" class="btn btn-primary" value="Submit"/>
          </div>
      </form>
</div>
</body>
</html>